<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    
        <rewrite>
        <rules>
            <rule name="Rule 1" stopProcessing="true">
            <match url="^(.*)/$" ignoreCase="false" />
            <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
            </rule>
            <rule name="Rule 2" stopProcessing="true">
            <match url="^" ignoreCase="false" />
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.php" />
            </rule>
        </rules>
        </rewrite>

   <!-- <httpRuntime maxUrlLength="999999" maxQueryStringLength="2097151" /> -->

<staticContent>
            <!-- "." means no extension -->
            <!--  to prevent future duplication errors, remove "." mime map in case a higher level configuration is defined somewhere in the web server tree -->
            <remove fileExtension="." />
            <!-- now add the mime map again -->
            <mimeMap fileExtension="." mimeType="text/plain" />
</staticContent>
    <security>
    <requestFiltering>
     <requestLimits maxQueryString="32768"/>
    </requestFiltering>
  </security>
</system.webServer>
 <system.web.extensions>
       <scripting>
           <webServices>
               <jsonSerialization maxJsonLength="5000000000"/>
           </webServices>
       </scripting>
   </system.web.extensions>
</configuration> 
